ul li{

	display: inline-block;
	border: 2px solid;
	font-size: 40px;
background-color: #2BE247;
height: 40px;
width: 235px;
margin: 3px;
text-align: center;

color: white;
font-weight: bold;
width: unset;
/*padding-top:16px;*/
/*margin-top:27px;*/
/*line-height: 40px;*/
}
ul li a{
	color: white;
	text-decoration:none; 
}



